.vscode/
*/node_modules/
*/DS_Store/
*/.DS_Store/
*/.vscode/
*/.idea/
*/.git/
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.travis.yml
*/.eslintrc
*/.eslintignore
*/.prettierrc
*/.prettierignore
*/.stylelintrc
*/.stylelintignore
*/.editorconfig
*/.babelrc
*/.bowerrc
*/.npmrc
*/.yarnrc
*/.yarnclean
*/.yarn-integrity
*/.yarnclean
*/.yarn-metadata.json
*/.yarnignore